# YouTube Data API
YOUTUBE_API_KEY=AIzaSyAdBmL3arfr_-XT_VlbVpdDR0m9UK4ISn8

# Amazon Affiliate Tag
AMAZON_AFFILIATE_TAG=slimhuiswonen-21

# Add any other required environment variables here
# with empty values. Copy this file to .env.local and fill in your actual values.
